/* 
    General Styles
*/
body{
    background-image: url("../img/stars.jpg");
    text-shadow: 2px 2px 2px rgb(46, 46, 46);
}
body,html{
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.container{
    background:rgba(53, 53, 53, 0.808);
    height:100%;
    border-radius: 1em;
    padding:2em;
     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
#dropdown-basic-button{
    background:grey;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 1em;
}
.row.cardRow{
    //white-space: normal;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    background:transparent;
    margin-bottom: 3em;
    padding:1.5em;
    
    border-top: 3px solid rgb(53, 35, 35);
}
.row.detailsRow{
    margin-bottom: 1em;
    padding-bottom: 3em;
    border-bottom:2px solid rgb(43, 31, 31);
    margin-top:2em;
}
h1{
    
    outline: white;
    color:rgb(129, 48, 48);
    text-align: center;
    border-bottom:2px solid rgb(63, 30, 30);
    
}
h6{
    text-align: center;
    color: grey;
}
.favListCount{
    padding:5px;
    
}
.cardDetailsButton{
    padding:5px;
    border:2px solid rgb(122, 122, 122);
    color:rgb(102, 102, 102);

}
.likeButton{
    
    border:2px solid rgb(90, 90, 51);
    color:rgb(82, 82, 59);

}
.detailListItem{
   
    text-align: center;
    list-style: none;
}
.detailsImg{
    height:auto;
    max-width: 100%;
}
.carouselImg{
    object-fit: cover;
    width:100%;
    height:70vh;
    overflow: hidden;
}
.carousel-caption{
    background:rgba(0, 0, 0, 0.418);
    border-radius:1em;
}
.detailsH3{
    font-size:150%;
}
ul{
    padding-left: 0;
    padding-right: 0;
}
ul.detailLists{
    

    align-items: center;
    justify-content: center;
    
    margin:0px 0px 0px 0px;
}
.detailLists{
    color:rgb(116, 49, 49);
    
}
.detailLists>h3{
    font-size: 150%;
    text-shadow: 2px 2px 2px rgb(46, 46, 46);
    text-align: center;
    
}
.carouselContainer{
    width:100vw;
}
.card{
    height:100%;
    //background:grey;

    background:rgba(53, 53, 53, 0.808);
}
.card-body{
    //background:lightgray;

    background:rgba(53, 53, 53, 0.808);

    -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000,0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.navbar{
    //background:grey;
    background:rgba(53, 53, 53, 0.808);

    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.logoImg{
    width:10vw;
    min-width:100px;
}

.detailsBox{
    background:rgba(53, 53, 53, 0.808);
    // background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);

     -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    //background: grey;
    border-radius: 1em;
    padding:.5em;
    padding-left:1em;
    padding-right:1em;
}
button{
     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.footer{
    background: transparent;
}
.textwhite{
    color:rgb(114, 114, 114);
}