/* 
    General Styles
*/
.row.cardRow{
    // white-space: normal;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    margin-bottom: 2em;
}

