/* 
    General Styles
*/
.row.cardRow{
    // white-space: normal;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    flex-wrap: nowrap;
    margin-bottom: 2em;
}
h1{
    color:red;
    margin-bottom: 2rem;
}
.favListCount{
    padding:5px;
    
}
.cardDetailsButton{
    padding:5px;
    border:2px solid blue;
    color:blue;

}
.likeButton{
    
    border:2px solid yellow;
    color:yellow;

}